.App {
  text-align: center;
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.progressBox{
  width: 436px;
  margin: 0 auto;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.progressBox input {
  width: 100%;
  padding: 8px;

}

.progressBar{
  margin-left: 44%;
  width: 182px;
}

.App h2 {
  font-size: 81px;
  font-weight: 400;
  position: absolute;
  top: 9%;
  left: 0;
  right: 0;
  line-height: 50px;
  z-index: 99999;
}

.dotBox{
  width: 9px;
  height: 9px;
  border: 10px solid #3ADA98;
  border-radius: 50%;
  position: absolute;
  right: 43px;
  bottom: 44px;
  background: #fff;
  z-index: 999
}

.dotBox_50 {
  width: 9px;
  height: 9px;
  border: 10px solid #3ADA98;
  border-radius: 50%;
  position: absolute;
  right: 45%;
  top: -4%;
  background: #fff;
  z-index: 999;
}

.App h2 span {
  font-size: 30px;
}

.Txt0{
  position: absolute;
  left: 0px;
  bottom: -75px;
  font-size: 20px;
  font-weight: 400;
}
li::marker {
  color: rgb(255, 255, 255);
}

.Txt50 {
  position: absolute;
  top: -25%;
  right: 45%;
  font-size: 20px;
  font-weight: 400;
}

.Txt60 {
  position: absolute;
  top: -16%;
  right: 24%;
  transform: rotate(31deg);
  font-size: 20px;
  font-weight: 400;
  z-index: 99;
}

.Txt70 {
  position: absolute;
  top: 3%;
  right: 8%;
  transform: rotate(50deg);
  font-size: 20px;
  font-weight: 400;
  z-index: 99;
}

.Txt80 {
  position: absolute;
  right: -3%;
  bottom: 34%;
  transform: rotate(67deg);
  font-size: 20px;
  font-weight: 400;
}

.Txt100 {
  position: absolute;
  right: -13px;
  bottom: -44%;
  font-size: 20px;
  font-weight: 400;
}

body {
  font: normal 16px/1.5 'Roboto', sans-serif;
  padding: 130px 0 0 0;
  background: #fff;
}


/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

.chart-skills li:nth-child(2):after {
  content: "";
  width: 56px;
  height: 87px;
  position: absolute;
  left: -40px;
  top: 36px;
  background-color: white;
  transform: rotate(69deg);
}

.chart-skills li:nth-child(3):after {
  content: "";
  width: 105px;
  height: 49px;
  position: absolute;
  left: -40px;
  top: 68px;
  background-color: #fff;
  transform: rotate(80deg);
}

.chart-skills li:nth-child(4):after {
  content: "";
  width: 72px;
  height: 46px;
  position: absolute;
  left: -12px;
  top: 50px;
  background-color: #fff;
  transform: rotate(72deg);
}

.chart-skills li:nth-child(5):after {
  content: "";
  width: 75px;
  height: 49px;
  position: absolute;
  left: 4px;
  top: 83px;
  background-color: #fff;
  transform: rotate(62deg);
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 10px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
  z-index: 5;
  border-color: #FB6061;
  animation-name: rotate-one;
}

.chart-skills-li1 {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 10px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: linear;
  /* z-index: 5; */
  border-color: #FB6061;
  animation-name: rotate-one;
/* 
  width: 9px;
  height: 9px;
  border: 10px solid #3ADA98;
  border-radius: 50%;
  position: absolute;
  right: 43px;
  bottom: 44px;
  background: #fff;
  z-index: 999 */

}

.chart-skills li:nth-child(2) {
  z-index: 4;
  border-color: #FC8441;
  animation-name: rotate-two;
  animation-delay: .4s;
}

.dotBox.chart-skills li  {
  z-index: 4;
  border-color: #FC8441;
  animation-name: rotate-two;
  animation-delay: .4s;
}


.chart-skills li:nth-child(3) {
  z-index: 3;
  border-color: #FFD140;
  animation-name: rotate-three;
  animation-delay: .6s;
}

.chart-skills li:nth-child(4) {
  z-index: 2;
  border-color: #0095FC;
  animation-name: rotate-four;
  animation-delay: .8s;
}

.chart-skills li:nth-child(5) {
  z-index: 1;
  border-color: #3ADA98;
  animation-name: rotate-five;
  animation-delay: 1.0s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(77deg);
    /**
     * 12% => 21.6deg
     */
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(21.6deg);
  }
  100% {
    transform: rotate(100deg);
    /**
     * 32% => 57.6deg 
     * 57.6 + 21.6 => 79.2deg
     */
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(79.2deg);
  }
  100% {
    transform: rotate(122deg);
    /**
     * 34% => 61.2deg 
     * 61.2 + 79.2 => 140.4deg
     */
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(140.4deg);
  }
  100% {
    transform: rotate(144deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}

@keyframes rotate-five {
  0% {
    transform: rotate(140.4deg);
  }
  100% {
    transform: rotate(178deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
li {
position: relative;
}

.span1:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -15px;
  top: -4px;
  background: #fb6061;
}

.span1_1:after {
  content: "";
    position: absolute;
    width: 10.07px;
    height: 33px;
    transform: translate(50%);
    border-radius: 10px;
    left: -1.4%;
    bottom: -7%;
    background: #fb6061;
    z-index: 99;
}

.span2:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -15px;
  top: -5px;
  background: #fc8441;
}

.span1_2:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -2.8%;
  top: 24%;
  background: #fc8441;
  z-index: 9999;
}

.span3:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -15px;
  top: -4px;
  background: #ffd140;
}

.span1_3:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 11px;
  transform: translate(50%);
  border-radius: 10px;
  left: -3%;
  top: 22%;
  background: #ffd140;
  z-index: 9999;
}

.span4:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -15px;
  top: -4px;
  background: #0095fc;
}

.span1_4:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(50%);
  border-radius: 10px;
  left: -3%;
  top: 22%;
  background: #0095fc;
  z-index: 9999;
}

.span5:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 11px;
  transform: translate(50%);
  border-radius: 10px;
  left: 5px;
  top: 45%;
  background: #3ada98;
  z-index: 9;
}

.span1_5:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 46px;
  transform: translate(50%);
  border-radius: 10px;
  right: 1.5%;
  bottom: -10%;
  background: #3ada98;
  z-index: 9999;
  animation-delay: 1.0s;

}


